<div class="display-area">
  <canvas id="{{ canvasId }}" width="{{ canvasWidth }}" height="{{ canvasWidth }}"></canvas>
</div>

<button
  (click)="run()"
>
  Go
</button>

<button
  (click)="stop()"
>
  Stop
</button>

<button
  (click)="reset()"
>
  Reset
</button>

<br>

Sorting Algorithm:
<br><br>
<button
  *ngFor="let sortingAlgorithm of sortingAlgorithms"
>
  {{ sortingAlgorithm.name }}
</button>
<br><br>

Speed:
<br><br>
<button
  *ngFor="let speed of speeds"
  (click)="setSpeed(speed)"
>
  {{ speed.name }}
</button>