<mat-card class="display-area">
  <canvas id="{{ canvasId }}" width="{{ canvasWidth }}" height="{{ canvasWidth }}"></canvas>
</mat-card>
<mat-card class="controls">
  <mat-card class="main-controls">
    
    <button
      mat-button
      [disabled]="status === 'running'"
      (click)="run()"
    >
      Go
    </button>
  
    <button
      mat-button
      [disabled]="status === 'stopped'"
      (click)="stop()"
    >
      Stop
    </button>
  
    <button
      mat-button
      (click)="reset()"
    >
      Reset
    </button>
  </mat-card>
{{activeSortingAlogrithm}}
  <mat-card class="algorithm-controls">
      <mat-card-title>Sorting Algorithm:</mat-card-title>
    <button
      mat-button
      *ngFor="let sortingAlgorithm of sortingAlgorithms"
      [disabled]="activeSortingAlgorithm === sortingAlgorithm.name"
      (click)="setSortingAlgorithm(sortingAlgorithm)"
    >
      {{ sortingAlgorithm.name }}
    </button>
  </mat-card>

  <mat-card class="speed-controls">
      <mat-card-title>Speed:</mat-card-title>
    <button
      mat-button
      *ngFor="let speed of speeds"
      (click)="setSpeed(speed)"
    >
      {{ speed.name }}
    </button>
  </mat-card>

</mat-card>
